*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    min-height: 100vh;
    position: relative;
}

/*Start header*/
/*start header section*/
.header{
    height: 120px;
    width:100%;
    box-shadow: 0px 1px 2px #eae7e7;
    display: flex;
    justify-content: space-between;
    align-items: center;

}
.search{
    position: relative;
    margin-left: 50px;   
}
.search input  {
    border: none;
    margin-left: 5px;
    background-color: #ffffff;
    border-radius: 50px;
    padding:7px 16px 9px 36px;
    color: #606770;
    font-size: 18px;
    height: 40px;
}
.search input:focus {
    outline: none;
}
.fa-magnifying-glass{
    color: #606770;
    position: absolute;
    font-size: 15px;
    left: 15px;
    top: 12px;
}
.header-icons{
    margin-right: 30px;
    width: 257px;
    text-align: right;
    position: relative;
}
.icons{
    color: #878f99;
    font-size: 18px;
    margin-right:10px;
    padding: 2px 7px 2px 2px;
    cursor: pointer;
}
.icons:hover{
    color: #606770;
}
.logo a{
    font-family: 'Lato', sans-serif;
    border: 3px solid black;
    letter-spacing: 2px;
    height: 45px;
    color: #606770;
    padding: 5px 10px 5px 10px;
    font-size: 22px;
    font-weight: bold;
    display: flex;
    align-items: center;
    cursor: pointer;
    text-decoration: none;
}
.header-icons .circle{
    background-color:blueviolet;
    border:1px solid rgb(203, 201, 201);
    height: 25px;
    width: 25px;
    color: white;
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 12px;
    margin: 0px 6px;
    position: absolute;
    right: -5px;
    bottom: 20px;
}


/*End header section*/

/*-----------------------------------------*/

/*start Nav*/
nav{
    width: 100%;
    height: 100px;
    display: flex;
    justify-content: center;
    align-items: center;
}
nav a{
    position: relative;
    text-decoration: none;
    color: #606770;
    margin: 5px 20px 5px 20px;
    padding: 2px;
    font-weight: bold;
    font-size: 15px;
}
nav .fa-angle-down{
    position: absolute;
    bottom: 2px;
    margin-left: 5px;
    font-size: 13px;
    font-weight: bold;
}
nav a:hover{
    color: blueviolet;
}
/*End Nav*/
/*End header*/



/*start footer*/
footer{
    width: 100%;
    margin-top: 30px;
    padding: 50px 80px 0px 80px;
    height: 650px;
    position: absolute;
    top: 100%;
}
/*footer Upperside*/
.footer-Upperside{
    display: flex;
    justify-content: space-around;
}
/*footer Upperside right side*/
.footer-right{
    display: flex;
    justify-content: space-around;
}
.footer-right .left-side{
    margin-right: 70px;
}
.footer-right .left-side .first-para{
    color:blueviolet ;
    font-size: 25px;
    margin: 15px 0px 15px 0;
}
.footer-right .left-side .second-para{
    color: #878f99;
}
.footer-right .right-side .cont1{
    display: flex;
    align-items: center;
    margin-top: 20px;
}
.footer-right .right-side .cont{
    display: flex;
    align-items: center;
    margin-top: 28px;
}
.footer-right .right-side .cont1 p{
    font-size: 17px;
    width: 300px;
}
.footer-right .right-side .cont p{
    font-size: 17px;
    width: 300px;
}
.footer-right .right-side .tel p{
    color: #606770;

}
.footer-icons{
    color:blueviolet ;
    margin-right: 15px;
    font-size: 22px;
}
.photo-footer{
    margin-top:20px;
    width: 340px;
}
.send-email{
    position: relative;
}
.send-email button{
    font-family: 'Times New Roman', Times, serif;
    letter-spacing: 3px;
    text-align: center;
    width: 80px;
    height: 40px;
    background-color: blueviolet;
    border: none;
    border-radius: 5px;
    outline: none;
    cursor: pointer;
    font-size: 12;
    color: white;
    font-weight: 500;
    transition: 0.5s;
    position: absolute;
    transform: translate(-50% , -50%);
    top: 50%;
    right: 9%;
}
.send-email input{
    height: 46px;
    width: 80%;
    padding: 5px 5px 5px 10px ;
    font-size: 17px;
    outline: none;
    border: 1px solid grey;
    color: black;
    border-radius: 5px;
}
.send-email input ::placeholder{
    color: #606770;
}
.send-email p{
    font-size: 20px;
}
.subscribe{
    font-size: 22px;
    margin: 60px 0px 15px 0px;
}

/*footer Upperside left side*/
.footer-left .left-content{
    display: flex;   
}
.footer-left ul{
    list-style-type: none;
}
.footer-left ul li{
    margin: 20px 150px 0px 0px;
}
.footer-left a{
    text-decoration: none;
    color: #878f99;
    font-size: 20px;
}

/*footer under side*/
.footer-underside{
    width: 100%;
    margin-top: 150px;
    text-align: center;
    color: #606770;
}
/*end footer*/



/*Start sec1 Home page*/
.home-sec1{
    
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: rgb(166,243,237);
    height: 700px;
   
}
.home-sec1 h1{
   
    font-size: 55px;
    width: 350px;
}
.home-sec1 p{
    margin-top: 20px;
    font-size: 18px;
    width: 500px;
}
.home-sec1 img{
    height: 450px;
    margin-right: 150px;
    margin-bottom: 40px;
}
.btn-home-sec1{
    font-family: 'Times New Roman', Times, serif;
    height: 50px;
    width: 140px;
    letter-spacing: 3px;
    font-weight: 500;
    text-decoration: none;
    color: white;
    margin-top : 30px ;
    background-color: blueviolet;
    padding: 10px;  
    text-align: center; 
    border: none;
    outline: none;
    border-radius: 6px;
    cursor: pointer;
    transition: all 1s ease;
}
.btn-home-sec1:hover{
    
    transform: scale(1.05);
    box-shadow: 0 0 20px rgba(0,0,0,0.5);

}
/*End sec1 Home page*/

/*Start sec2 Home page*/
.home-sec2{
    height: 400px;
    display: flex;
    justify-content: space-around;
    align-items: center;
    box-shadow:  1px 2px #eae7e7;
}
.home-sec2 .icons{
    color:blueviolet;
    font-size: 45px;
    margin-right: 25px;
}
.home-sec2-content{
    display: flex;
    justify-content: center;
    align-items: flex-start;
}
.home-sec2-content h2{
    color:#606770;
}
.home-sec2-content p{
    width: 350px;
    margin-top: 25px;
    color: #878f99;
}

/*Start sec3 Home page*/
.home-sec3{
    height: 900px;
    padding-top: 80px;
}
.home-sec3 .title h1{
    position: relative;
     text-align: center;
     font-size: 52px;
     margin-bottom: 80px;
 }
.home-sec3 .title h1::after{
     content:" ";
     display: block;
     height: 4px;
     width: 100px;
     position: absolute;
     transform: translate(-50%,-50%);
     top: -20px;
     left: 50%;
     background: blueviolet;
 }
.home-sec3 .items{
    display: flex;
    justify-content:center;
    align-items: center;
}
.home-sec3-content{
    position: relative;
    width: 500px;
    height: 600px;
    margin: 20px;
    overflow: hidden;
    cursor: pointer;
}
.home-sec3-content img{
    position: absolute;
    width: 100%;
    height: 100%;
    z-index: -1;
    transition: all 0.5s ease;
}
.home-sec3-content:hover img{
    transform: scale(1.1);
}
.home-sec3-content div{
    width: 100%;
    height: 100%;
    background-color: rgba(0,0,0,0.5);
    color: white;
    position: relative;
}
.home-sec3-content div p{
    font-family: Arial, Helvetica, sans-serif;
    position: absolute;
    bottom: 60px;
    left: 10px;
}
.home-sec3-content div h2{
    font-family: Arial, Helvetica, sans-serif;
    position: absolute;
    bottom: 10px;
    left: 10px;
    font-size: 40px;
}


/*Start sec4 Home page*/
.home-sec4{
    height: 1000px;
    background-color: #eff1f5;
    
}
.home-sec4 .sec4-title{
    width: 100%;
    margin-bottom: 50px;
    padding: 80px;
    
}
.sec4-title h1{
   position: relative;
    text-align: center;
    font-size: 52px;
}
.sec4-title h1::after{
    content:" ";
    display: block;
    height: 4px;
    width: 100px;
    position: absolute;
    transform: translate(-50%,-50%);
    top: -30px;
    left: 50%;
    background: blueviolet;
}
.home-sec4 .contents{

    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 40px;
    
}
.home-sec4 .contents .home-sec4-content{
    background-color: white;
    width: 490px;
    height: 550px;
    box-shadow: rgba(0,0,0,0.7);
    text-align: center;
    margin: 20px;
}
.home-sec4 .contents .home-sec4-content img{
    width: 100%;
    height: 60%;
}
.home-sec4 .contents .home-sec4-content h2{
    margin-top: 50px;
    font-size: 25px;
    color: blueviolet;
}
.home-sec4 .contents .home-sec4-content .para{
    font-size: 20px;
    color: #878f99;
    font-size: 18px;
    padding-top: 10px;
}
.home-sec4 .contents .home-sec4-content .price{
    padding-top: 10px;
    font-size: 20px;
    color: blueviolet;
}
.home-sec4 .contents .right{
    margin-right: 70px;
}
.home-sec4 .contents .left{
    margin-left: 70px;
}

/*Start sec5 Home page*/
.home-sec5 .sec5-content{
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: rgb(255, 255, 255);
    height: 700px;
    width: 100%;
    border-bottom: 1px solid rgb(203, 201, 201);
}
.home-sec5 .sec5-content .sec5-rightside{
    text-align: center;
}
.home-sec5  .sec5-content .sec5-rightside .writer{
    width: 500px;
    display: flex;
    /* position: relative; */
    height: 30px;
    justify-content: center;
    align-items: center;
}
.home-sec5 .sec5-content .sec5-rightside .writer p{
    color: #878f99;
}
.home-sec5 .sec5-content h1{
    font-size: 30px;
    font-weight: 700;
    color: blueviolet;
    width: 500px;
}
.home-sec5 .sec5-content p{
    color: #878f99;
    margin-top: 20px;
    font-size: 18px;
    width: 500px;
}
.home-sec5 .sec5-content img{
    height: 450px;
    margin-right: 150px;
    margin-bottom: 40px;
}
.btn-home-sec5{
    background-color: blueviolet;
    font-family: 'Times New Roman', Times, serif;
    height: 50px;
    width: 140px;
    letter-spacing: 3px;
    font-weight: 500;
    text-decoration: none;
    color: white;
    margin-top : 30px ;
    background-color: blueviolet;
    padding: 10px;  
    text-align: center; 
    border: none;
    outline: none;
    border-radius: 6px;
    cursor: pointer;
    transition: all 1s ease;
}
.btn-home-sec5:hover{
    transform: scale(1.05);
    box-shadow: 0 0 20px rgba(0,0,0,0.5);
}
.home-sec5 .sec5-title{
    width: 100%;
    margin-bottom: 10px;
    margin-top: 50px;
    padding-top: 50px; 
}
.sec5-title h1{
   position: relative;
    text-align: center;
    font-size: 52px;
}
.sec5-title h1::after{
    content:" ";
    display: block;
    height: 4px;
    width: 100px;
    position: absolute;
    transform: translate(-50%,-50%);
    top: -20px;
    left: 50%;
    background: blueviolet;
}
/*END HOME PAGE*/


/*Start Shop Page*/

/*Start sec1*/
.shop-sec1{
    height: 70px;
    font-size: 23px;
    background-color: #f3f4f7;
    display: flex;
    align-items: center;
}
.shop-sec1 p{
    color: #878f99;
    margin-left: 92px;
}

/*Start sec2*/
.shop-sec2{
    width: 90%;
    margin:80px auto;
    display: flex;
}
.shop-sec2 .tilte{
    font-family:'Times New Roman', Times, serif;
    font-size: 23px; ;

} 
.shop-right-side{
    margin-left: 50px;
    width: 1390px;
}
.shop-right-side .right-side-header{
    display: flex;
    justify-content: space-between;
}
.shop-right-side .right-side-header .box{
    display: flex;
}
.latest-button{
    list-style: none;
}
.latest-button li{
    display: inline-block;
    position: relative;
}
.latest-button li button{
    display: block;
    width: 150px;
    padding: 13px 25px;
    text-decoration: none;
    text-align: center;
    font-size: 20px;
    background-color:#cdd0d5 ;
    transition: all 0.5s ease;
    border: none;
    margin-right: 10px;
    border-radius: 4px;
    display: flex;
    justify-content: center;
    align-items: center;
    cursor:pointer;
}
.latest-button li button .fa-angle-down{
    margin-left: 5px;
    font-size: 10px;
}
.latest-button li button p{
    font-size: 17px;
    font-weight:500;
}
.latest-button li .middle-links{
    display: block;
    padding: 10px 25px 10px 30px;
    text-decoration: none;
    text-align: left;
    font-size: 16px;
    color: gray;
    border-right: 1px solid rgb(203, 201, 201);
    border-left: 1px solid rgb(203, 201, 201)
}
.latest-button li .upper-link{
    border-top: 1px solid rgb(203, 201, 201);
    border-right: 1px solid rgb(203, 201, 201);
    border-left: 1px solid rgb(203, 201, 201);
    border-top-left-radius:5px;
    border-top-right-radius:5px;
    display: block;
    padding: 10px 25px 10px 30px;
    text-decoration: none;
    text-align: left;
    font-size: 16px;
    color: gray;
}
.latest-button li .lower-link{
    border-bottom: 1px solid rgb(203, 201, 201);
    border-right: 1px solid rgb(203, 201, 201);
    border-left: 1px solid rgb(203, 201, 201);
    border-bottom-left-radius:5px;
    border-bottom-right-radius:5px;
    display: block;
    padding: 10px 25px 10px 30px;
    text-decoration: none;
    text-align: left;
    font-size: 16px;
    color: gray;
}
.latest-button li ul.dropdown li{
    display: block;
}
.latest-button li ul.dropdown{
    width: 140%;
    background:#f5f3f3  ;
    position: absolute;
    z-index: 100;
    display: none;
    border-radius: 4px;
}
.latest-button li a:hover{
    background:#e6e4e4 ;
}
.latest-button li:hover ul.dropdown{
    display: block;
}
.latest-button li button:hover{
    transform: scale(1.05);
    color: white;
    background-color: gray;
    box-shadow: 0 0 20px rgba(0,0,0,0.5);
}

.ref-button{
    list-style: none;
}
.ref-button li{
    display: inline-block;
    position: relative;
}
.ref-button li button{
    display: block;
    width: 180px;
    padding: 13px 25px;
    text-decoration: none;
    text-align: center;
    font-size: 20px;
    background-color:#cdd0d5 ;
    transition: all 0.5s ease;
    border: none;
    border-radius: 4px;
    display: flex;
    justify-content: center;
    align-items: center;
    cursor:pointer;
}
.ref-button li button .fa-angle-down{
    margin-left: 5px;
    font-size: 10px;
}
.ref-button li button p{
    font-size: 17px;
    font-weight:500;
}
.ref-button li .middle-links{
    display: block;
    padding: 10px 25px 10px 30px;
    text-decoration: none;
    text-align: left;
    font-size: 16px;
    color: gray;
    border-right: 1px solid rgb(203, 201, 201);
    border-left: 1px solid rgb(203, 201, 201)
}
.ref-button li .upper-link{
    border-top: 1px solid rgb(203, 201, 201);
    border-right: 1px solid rgb(203, 201, 201);
    border-left: 1px solid rgb(203, 201, 201);
    border-top-left-radius:5px;
    border-top-right-radius:5px;
    display: block;
    padding: 10px 25px 10px 30px;
    text-decoration: none;
    text-align: left;
    font-size: 16px;
    color: gray;
}
.ref-button li .lower-link{
    border-bottom: 1px solid rgb(203, 201, 201);
    border-right: 1px solid rgb(203, 201, 201);
    border-left: 1px solid rgb(203, 201, 201);
    border-bottom-left-radius:5px;
    border-bottom-right-radius:5px;
    display: block;
    padding: 10px 25px 10px 30px;
    text-decoration: none;
    text-align: left;
    font-size: 16px;
    color: gray;
}
.ref-button li ul.dropdown li{
    display: block;
}
.ref-button li ul.dropdown{
    width: 140%;
    background:#f5f3f3  ;
    border-radius: 4px;
    position: absolute;
    z-index: 100;
    display: none; 
}
.ref-button li a:hover{
    background:#e6e4e4 ;
}
.ref-button li:hover ul.dropdown{
    display: block;
}
.ref-button li button:hover{
    transform: scale(1.05);
    color: white;
    background-color: gray;
    box-shadow: 0 0 20px rgba(0,0,0,0.5);
}
.ref-button li .line-container{
    height: 20px;
    position: relative;
    padding: 10px auto;
    border-right: 1px solid rgb(203, 201, 201);
    border-left: 1px solid rgb(203, 201, 201);
}
.ref-button li .line{
    content:" ";
    display: block;
    height: 1px;
    width: 100%;
    position: absolute;
    transform: translate(-50%,-50%);
    top: 50%;
    left: 50%;
    background: rgb(203, 201, 201);
}

.shop-left-side{
    width: 300px;
}
.shop-left-side .category{
    width: 100%;
    height: 200px;
    border: 1px solid rgb(203, 201, 201);
    border-radius: 5px;
    padding: 20px;
    

}
.shop-left-side .category h3{
    font-size: 20px;
    text-transform: uppercase;
    font-weight: 700;
}
.shop-left-side .category .category-items{
    display: flex;
    justify-content: space-between;
    margin-top: 20px;
    font-size: 17px;
    font-weight: 700;
}
.shop-left-side .category .category-items p{
    color: #606770;
}

.filter{
    width: 100%;
    height: 520px;
    border: 1px solid rgb(203, 201, 201);
    border-radius: 5px;
    padding: 20px;
    margin-top: 30px;
}
.filter .filter-items{
    margin-bottom: 30px;
}
.filter .filter-items h3{
    font-size: 20px;
    text-transform: uppercase;
    font-weight: 700;
    margin-bottom: 20px;
}
.slider{
    height: 10px;
    border-radius: 5px;
    background-color: rgb(244, 234, 234);
    position: relative;
    margin: 20px 0px 15px 0px;
    border: 1px solid rgb(193, 186, 186);
    
}
.slider .progress{
    height: 10px;
    left: 25%;
    right:25%;
    position: absolute;
    border-radius: 5px;
    background-color: blueviolet;
}
.range-input{
    position: relative;
}
.range-input input{
    position: absolute; 
    height :10px;
    width: 100%;
    background: none;
    pointer-events: none;
    -webkit-appearance: none;
} 
input[type="range"]::-webkit-slider-thumb{
    height: 17px;
    width: 17px;
    -webkit-appearance: none;
    border-radius: 50%;
    pointer-events: auto;
    background-color: blueviolet;

}
.filter .slider-value{
    color: #606770;
    font-size: 15px;
}
.filter-items .sizes{
    margin-top :10px;
    font-weight: 600;
}
.filter-items .sizes label{
    margin-left: 7px;
}
.filter-items .color-items{
    display: flex;
    margin-bottom: 15px;
}
.filter-items .color-items p{
    font-weight: 600;
}
.red-circle{
    background-color: red;
    height: 20px;
    width: 20px;
    border-radius: 50%;
    margin-right: 10px;
}
.green-circle{
    background-color:darkgreen;
    height: 20px;
    width: 20px;
    border-radius: 50%;
    margin-right: 10px;
}
.blue-circle{
    background-color:blue;
    height: 20px;
    width: 20px;
    border-radius: 50%;
    margin-right: 10px;
}
.purple-circle{
    background-color:blueviolet;
    height: 20px;
    width: 20px;
    border-radius: 50%;
    margin-right: 10px;
}

.shop-right-side .shop-right-contents{
    display: flex;
    justify-content: space-between;
}

.shop-right-side .shop-right-contents a{
    text-decoration: none;
}
.shop-right-side .shop-right-contents .shop-sec2-content{
    background-color: white;
    width: 430px;
    height: 540px;
    border: 1px solid rgb(203, 201, 201);
    border-radius: 1px;
    box-shadow: 0 0 10px rgba(136, 136, 136, 0.5);
    text-align: center;
    margin-top: 80px;
    
}
.shop-right-side .shop-right-contents .shop-sec2-content img{
    width: 100%;
    height: 60%;
}
.shop-right-side .shop-right-contents .shop-sec2-content h2{
    margin-top: 50px;
    font-size: 25px;
    color: blueviolet;
}
.shop-right-side .shop-right-contents .shop-sec2-content .para{
    font-size: 20px;
    color: #878f99;
    font-size: 18px;
    padding-top: 10px;
}
.shop-right-side .shop-right-contents .shop-sec2-content .price{
    padding-top: 10px;
    font-size: 20px;
    color: blueviolet;
}
.shop-right-side .pages{
    margin-top: 25px;
    text-align: center;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}
.shop-right-side .pages .circle{
    background-color:white;
    border:1px solid rgb(203, 201, 201);
    height: 50px;
    width: 50px;
    color: blueviolet;
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 18px;
    margin: 0px 6px;
}
.shop-right-side .pages .first{
    background-color:  blueviolet;
    color: white;
}
/*Start sec3*/
.shop-sec3{
    border-bottom: 1px solid rgb(203, 201, 201);
}


/*Start singl-product Page*/
/*Start sec1 singl-product */
.singl-product-sec1{
    height: 70px;
    font-size: 23px;
    background-color: #f3f4f7;
    display: flex;
    align-items: center;
}
.singl-product-sec1 p{
    color: #878f99;
    margin-left: 92px;
}
/*Start sec2 singl-product*/
.singl-product-sec2{
    padding: 92px;
    display: flex;
    justify-content: space-between;
    align-items: flex-start;
    height: 850px;
}
.singl-product-sec2 h1{
   
    font-size: 55px;
    width: 850px;
}
.singl-product-sec2 p{
    margin-top: 20px;
    font-size: 18px;
    width: 850px;
    color:#606770;
}
.singl-product-sec2 .price{
    font-size: 26px;
    color: blueviolet;
}
.singl-product-sec2 img{
   
    width: 720px;
    margin-right: 150px;
    margin-bottom: 40px;
}
.singl-product-sec2 .product-size{
    margin-top: 20px;
    display: flex;
}
.singl-product-sec2 .product-size .size{
    display: flex;
    justify-content: center;
    align-items: center;
    margin-right: 25px;
}
.singl-product-sec2 .product-size .size label{
    margin-left: 5px;
    font-weight: 600;
}
.btn-singl-product-sec2{
    font-family: 'Times New Roman', Times, serif;
    height: 50px;
    width: 140px;
    margin-top : 30px ;
    font-size: 12px;
    letter-spacing: 3px;
    font-weight: 500;
    background-color: blueviolet;
    padding: 10px;  
    text-align: center; 
    text-decoration: none;
    border: none;
    outline: none;
    border-radius: 6px;
    color: white;
    cursor: pointer;
    transition: all 1s ease;
}
.btn-singl-product-sec2:hover{
    
    transform: scale(1.05);
    box-shadow: 0 0 20px rgba(0,0,0,0.5);

}
.add-minus-Q{
    position: relative;
    height:100px ;
}
.add-minus-Q div{
    margin-top: 35px;;
    display: flex;
    justify-content: center;
    height: 50px;
    position: absolute;
    left: 0;
}
.add-minus-Q .number{
    width: 40px;
    height: 100%;
    border: none;
    font-size: 18px;
    font-weight: bold;
    border-top: 2px solid rgb(164, 157, 157);
    border-bottom: 2px solid rgb(164, 157, 157);
    text-align: center;
}
.add-minus-Q .number:focus{
    outline: none;
}
.add-minus-Q .singl-product-button-right{
    width: 30px;
    height: 100%;
    border: 2px solid blueviolet;
    background: #fcfcfc;
    color: black;
    font-size: 18px;
    font-weight: bold;
    border-top-right-radius: 5px;
    border-bottom-right-radius: 5px;
    transition: all 0.5s ease;
    cursor: pointer;
}
.add-minus-Q .singl-product-button-left{
    width: 30px;
    height: 100%;
    border: 2px solid blueviolet;
    background: #fcfcfc;
    color: black;
    font-size: 18px;
    font-weight: bold;
    border-top-left-radius: 5px;
    border-bottom-left-radius: 5px;
    transition: all 0.5s ease;
    cursor: pointer;
}
.add-minus-Q .singl-product-button-right:hover{
    background: blueviolet;
    color:#fcfcfc;
}
.add-minus-Q .singl-product-button-left:hover{
    background: blueviolet;
    color:#fcfcfc;
}
input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}
input[type=number] {
  -moz-appearance: textfield;
}

/*Start cart*/

/*cart sec1*/
.cart-sec1{
    height: 70px;
    font-size: 23px;
    background-color: #f3f4f7;
    display: flex;
    align-items: center;
}
.cart-sec1 p{
    color: #878f99;
    margin-left: 92px;
}


/*cart sec2*/
table, th, td {
    border: 1px solid rgb(203, 201, 201);
    border-collapse: collapse;
    text-align: center;
  }
table{
    margin: 80px 90px 40px 90px;
}
table thead{
    height: 90px;
}
.cart-sec2 .items .img{
    width: 320px;
    height: 190px;
    padding: 20px;
}
.cart-sec2 .items img{
    width: 270px;
    height: 142;
}
.cart-sec2 .items .product{
    width: 360px;
    font-size: 22px;
    font-weight: 600;
}
.cart-sec2 .items .price{
    width: 255px;
    font-size: 22px;
    font-weight: 600;
    color: #606770;
}
.cart-sec2 .items .quantity{
    width: 300px;
    font-size: 22px;
    font-weight: 600;
    color: #606770;
    position: relative;
}
.cart-sec2 .items .quantity .add-minus-Q{
    position: absolute;
    bottom: 75px;
    left: 100px;
}
.cart-sec2 .items .total{
    width: 255px;
    font-size: 22px;
    font-weight: 600;
    color: #606770;
}
.cart-sec2 .items .remove{
    width: 240px;
    font-size: 22px;
    font-weight: 600;
    color: #606770;
    position: relative;
}
.cart-sec2 .items .remove button{
    width: 55px;
    height: 40px;
    padding: 20px;
    border-radius: 7px;
    background-color: blueviolet;
    color: white;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 17px;
    font-weight: bold;
    border: 2px solid blueviolet;
    outline: none;
    position: absolute;
    bottom: 95px;
    left: 90px;
    cursor: pointer;
    transition: all 0.5s ease;
}
.cart-sec2 .items .remove button:hover{
    transform: scale(1.05);
    box-shadow: 0 0 20px rgba(0,0,0,0.5);
    background-color: white;
    color: blueviolet;
}
.cart {
    display: flex;
    justify-content: space-between;
    
    height: 450px;
    border-bottom:1px solid rgb(203, 201, 201) ;

}
.cart .left-side{
    margin: 30px 0px 50px 90px;
    width: 800px;
}
.cart .left-side .upper-buttons{
    display: flex;
    justify-content: space-between;
    align-items: flex-start;
    margin-bottom: 60px;
}
.cart .continue-sec2{
    font-family: 'Times New Roman', Times, serif;
    height: 50px;
    width: 380px;
    font-size: 12px;
    letter-spacing: 3px;
    font-weight: 500;
    background-color: white;
    padding: 10px;  
    text-align: center; 
    text-decoration: none;
    border: none;
    outline: none;
    border-radius: 6px;
    color: blueviolet;
    cursor: pointer;
    transition: all 1s ease;
    border: 2px solid blueviolet;
    font-size: 17px;
}
.cart .continue-sec2:hover{
    transform: scale(1.05);
    box-shadow: 0 0 20px rgba(0,0,0,0.5);
    color: white;
    background-color: blueviolet;
}
.cart .update-sec2{
    background-color: blueviolet;
    color: white;
}
.cart .update-sec2:hover{
    color: white;
    background-color:blueviolet;
}
.cart .left-side .lower-side input{
    height: 50px;
    width: 500px;
    padding: 5px 5px 5px 10px ;
    font-size: 17px;
    outline: none;
    border: 1px solid grey;
    color: black;
    border-radius: 5px;
    font-weight: bold;
}
.cart .left-side .lower-side .in-btn .apply{
    background-color: blueviolet;
    color: white;
    width: 32%;
    margin-left: 40px;
}
.cart .left-side .lower-side input ::placeholder{
    color: #606770;
    font-weight: bold;
}
.cart .left-side .lower-side p{
    font-size: 18px;
    margin-top: 15px; 
    margin-bottom: 15px;
    color: #878f99;
}
.cart .right-side {
        width: 400px;
        margin: 30px 90px 50px 0px;
}
.cart .right-side .total{
    color: black;
    font-size: 26px;
    padding-bottom: 10px;
    margin-bottom: 30px;
    text-align:right ;
    border-bottom: 1px solid rgb(203, 201, 201);  
    padding-right: 10px;  
}
.cart .right-side .total-items{
    display: flex;
    justify-content: space-between;
    margin-top: 20px;
    font-size: 18px;
}
.cart .right-side .proceed{
    width: 100%;
    height: 60px;
    background-color: blueviolet;
    color: white;
    border-radius: 8px;
    margin-top: 60px;

}

/* start page checkout */

.checkout-sec2{
    border-bottom:1px solid rgb(203, 201, 201);
}
.checkout-sec2 .login{
    margin: 70px 90px 40px 90px;
    padding: 20px;
    border:1px solid rgb(203, 201, 201) ;
    border-radius: 5px ;
    font-size: 17px;
}
.checkout-sec2 .login p{
    color: #878f99;
}
.checkout-sec2 .login a{
    text-decoration: none;
    color: blueviolet;
}

.full-fill{
    display: flex;
    justify-content: space-between;
}

.full-fill .left-side{
    margin-left: 90px;
    width: 800px;
}
.full-fill h1{
    margin-bottom: 20px;
    font-size: 29px;
}
.full-fill .left-side .billing-details{
   
    border:1px solid rgb(203, 201, 201) ;
    border-radius: 5px;
}
form{
    padding: 70px;
}
form .label{
    margin-top: 15px;
    margin-bottom: 12px;
    font-weight: 700;
}
form .fisrt-label{
    margin-top: 0px;
}
form .country{
    width: 100%;
    height: 46px;
    border: 1px solid rgb(203, 201, 201) ;
    border-radius: 5px;
    padding: 10px;
    font-size: 16px;
}
form .name{
    display: flex;
    justify-content: space-between;
}
form .name input{
    width: 320px;
    height: 46px;
    border: 1px solid rgb(203, 201, 201) ;
    border-radius: 5px;
    padding: 10px;
    font-size: 16px;
}
form .space{
    margin-top: 10px;
}
form .first-check{
    margin-top: 50px;
    margin-bottom: 25px;
}
form .second-check{
    margin-bottom: 30px;
}
form textarea{
    width: 100%;
    height: 200px;
    border: 1px solid rgb(203, 201, 201) ;
    border-radius: 5px;
    padding: 10px;
    font-size: 16px;
}
.full-fill .right-side{
    margin-right: 90px;
    width: 800px;
    margin-bottom: 100px;
}
.right-side .coupen-field{
    width: 100%;
    height: 250px;
    border: 1px solid rgb(203, 201, 201);
    border-radius: 5px;
    padding: 70px;
    margin-bottom: 60px;
}
.right-side .coupen-field p{
    color: grey;
    margin-bottom: 25px;
    font-size: 20px;
}
.right-side .coupen-field .coupon-code{
    width: 100%;
    position: relative;
}
 .code-btn{
    font-family: 'Times New Roman', Times, serif;
    height: 50px;
    width: 130px;
    font-size: 12px;
    letter-spacing: 3px;
    font-weight: 500;
    color: white;
    background-color: blueviolet;
    padding: 10px;  
    text-align: center; 
    text-decoration: none;
    border: none;
    outline: none;
    cursor: pointer;
    transition: all 1s ease;
    border-top-right-radius: 4px;
    border-bottom-right-radius: 4px ;
    font-size: 17px;
    position: absolute;

}
 .code-btn:hover{
    transform: scale(1.05);
    box-shadow: 0 0 20px rgba(0,0,0,0.5);  
}
.coupon-code input{
    height: 51px;
    width: 370px;
    font-size: 18px;
    font-weight: 500;
    border: 1px solid rgb(203, 201, 201);
    border-top-left-radius: 4px;
    border-bottom-left-radius: 4px;
    padding: 10px;

}
.coupon-code input:focus{
    outline: none;
}
.right-side .order{
    width: 100%;
    border: 1px solid rgb(203, 201, 201);
    border-radius: 5px;
    padding: 70px;
}
.order .details{
    min-height: 54px;
    padding: 10px;
    text-align: left;
    border-bottom: 1px solid rgb(203, 201, 201);
    display: flex;
    justify-content: space-between;
    align-items: center;

}
.order .bold{
    font-weight: bold;
    font-size: 19px;
    
}
.order .light{
    font-size: 19px;
    
}
.order .firt-coloumn{
    width: 70%;
    text-align: left;
}
.order .second-coloumn{
    width: 30%;
    text-align: left;
}
.order .last{
    border: none;
    margin-bottom: 70px;
}
.place-order{
    font-family: 'Times New Roman', Times, serif;
    height: 50px;
    width: 100%;
    background-color: blueviolet;
    font-weight: 500;
    color: white;
    letter-spacing: 3px;
    padding: 10px;  
    text-align: center; 
    text-decoration: none;
    border: none;
    outline: none;
    cursor: pointer;
    transition: all 1s ease;
    border-top-right-radius: 4px;
    border-bottom-right-radius: 4px ;
    font-size: 17px;
}
 .place-order:hover{
    transform: scale(1.05);
    box-shadow: 0 0 20px rgba(0,0,0,0.5);  
}
.more-details .bank {
    background-color: white;
    color: blueviolet;
    height: 50px;
    width: 100%;
    height: 100%;
    border:1px solid rgb(203, 201, 201);
    border-radius: 3px;
    margin-bottom: 15px;
    padding: 10px;
    font-size: 17px;
    display: flex;
    align-items: center;
    transition: all 1s ease;
    cursor: pointer;
 
}
.more-details .bank:hover{
    transform: scale(1.05);
    box-shadow: 0 0 20px rgba(0,0,0,0.5); 
    color:white;
    background-color: blueviolet;
}

/*thank you pacge*/
.thank-sec2{
    height: 600px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
    border-bottom: 1px solid rgb(203, 201, 201);
}
.thank-sec2 .fa-circle-check{
    color: rgb(3, 156, 3);
    font-size: 80px;
    margin-bottom: 15px;
}
.thank-sec2 h1{
    font-size: 70px;
    margin-bottom: 15px;
}
.thank-sec2 p{
    font-size: 20px;
    color:#7f8690;
    margin-bottom: 40px;
}
.thank-sec2 .back{
    width: 200px;
}


/*start about page*/
.about-sec2 {
    padding: 90px;
    display: flex;
    justify-content: center;
    align-items: flex-start;
    height: 700px;
    width: 100%;
    border-bottom: 1px solid rgb(203, 201, 201);
}
.about-sec2 img{
    height: 450px;
    width: 700px;
    margin-right: 150px;
    margin-bottom: 40px;
}
.about-sec2 h1{
    font-size: 40px;
    font-weight: 700;
    color: black;
    width: 500px;
    position: relative;
    margin-top: 20px;

}
.about-sec2 p{
    color: #878f99;
    margin-top: 15px;
    font-size: 18px;
    width: 500px;
}
.about-sec2 h1::after{
     content:" ";
     display: block;
     height: 4px;
     width: 100px;
     position: absolute;
     transform: translate(-50%,-50%);
     top: -15px;
     left: 50px;
     background: blueviolet;
}
.about-team{
    border-bottom:1px solid rgb(203, 201, 201) ;
}
.about-team img{
    height: 170px;
    width: 170px;
    border-radius: 50%;
}
.team{
    display: flex;
    justify-content: center;

}
.about-team .person{
    width: 300px;
    text-align: center;

    margin: 70px 50px 90px 50px;
    /* margin-top: 70px;
    margin-bottom: 90px; */
}
.person .pos{
    font-size: 16px;
    letter-spacing: 2px;
    color: #989ea7;
    margin-top: 5px;
    margin-bottom: 10px;
}
.person .discribe{
    font-size: 16px;
    color: #94989e;
    margin-top: 25px;
}

.addvantage{
    padding-left: 90px; 
    padding-right: 90px;
}
